<section class="navigation">
    <div class="container">
        <nav>
            {{> logo}}
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </nav>
        <div class="theme-toggle">
            <button class="theme-selector">
                <img src="{{asset "img/dark-mode.png"}}" />
                {{!-- <span>{{t "darkmode"}}</span> --}}
                <span id="btnText"></span>
            </button>
        </div>
    </div>
</section>