{{#foreach navigation}}
    <div class="nav-item-outer">
        {{!-- <img src="{{asset 'img/site-icon.png'}}" class="nav-image" /> --}}
        <a class="item" href="{{url absolute="true"}}">
            <span>{{label}}</span>
        </a>
    </div>
{{/foreach}}