{{!-- {{#get "tags" filter="slug:getting-started,name:[europe,america,asia]" include="posts" as |primarytag|}}
{{#foreach primarytag}} --}}

<div class="rounded-lg bg-gray-100 dark:bg-gray-9 p-4 md:p-6 relative">
    <div><time class="text-sm text-gray-500 dark:text-gray-400 font-mono">2022</time><a
            class="block text-lg font-bold text-gray-800 dark:text-white hover:underline hover:text-gray-900 dark:hover:text-gray-100"
            href="https://github.com/taniarascia/accordion"
            target="_blank"
            rel="noreferrer"
        >Keyboard Accordion</a>
        <p class="text-gray-600 dark:text-gray-300">Play the accordion with your keyboard!</p>
    </div>
    <div class="absolute bottom-4 md:bottom-6 left-4 md:left-6 flex flex-wrap gap-2"><a
            class="inline-flex items-center px-4 py-2.5 rounded border-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 font-medium hover:text-gray-900 dark:hover:text-white hover:border-gray-500 dark:hover:border-gray-400"
            href="/musical-instrument-web-audio-api"
        >Article</a><a
            class="inline-flex items-center px-4 py-2.5 rounded border-2 border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 font-medium hover:text-gray-900 dark:hover:text-white hover:border-gray-500 dark:hover:border-gray-400 flex"
            href="https://www.keyboardaccordion.com"
        >Demo</a></div>
</div>