<h2 class="flex justify-between items-center mb-6 mt-12 border-0 p-0">
    <div>
        <div class="text-2xl md:text-3xl font-bold text-gray-900 dark:text-white mb-0">{{@custom.projects_title}}</div>
    </div>
    {{!-- <a class="inline-flex items-center px-4 py-2.5 rounded border-2 border-gray-300 bg-white text-gray-700 font-medium hover:text-gray-900 hover:border-gray-500" href="/projects">{{t "View all"}}</a> --}}
</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="projectlists">

</div>