{{!-- {{#get "tags" filter="slug:getting-started,name:[europe,america,asia]" include="posts" as |primarytag|}}
{{#foreach primarytag}} --}}

<div class="anchored card">
    <div><time>2022</time><a
            class="card-header"
            href="https://github.com/taniarascia/accordion"
            target="_blank"
            rel="noreferrer"
        >Keyboard Accordion</a>
        <p>Play the accordion with your keyboard!</p>
    </div>
    <div class="anchored links"><a
            class="button"
            href="/musical-instrument-web-audio-api"
        >Article</a><a
            class="button flex"
            href="https://www.keyboardaccordion.com"
        >Demo</a></div>
</div>