<h2 class="home-heading">
    <div>
        <div class="title">{{@custom.projects_title}}</div>
    </div>
    {{!-- <a class="button" href="/projects">{{t "View all"}}</a> --}}
</h2>
<div class="post-preview" id="projectlists">
</div>