{{#if tags}}
    <div class="flex flex-wrap gap-2">
        {{#foreach tags}}<a
                class="text-xs font-normal px-2 py-1 border border-gray-300 dark:border-gray-600 rounded bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-300 hover:text-gray-900 dark:hover:text-white hover:border-gray-500 dark:hover:border-gray-400 no-underline"
                href="{{url}}"
                title="{{name}}"
            >{{name}}</a>{{/foreach}}
    </div>
{{/if}}