{{!< default}}
<div class="flex">
    <h1 style="font-size: 10.8rem;" class="text-black text-center">
        {{statusCode}}
    </h1>
    <p class="text-4xl -m-6 text-center">
        {{message}}
    </p>
</div>