{{!< default}}

<div>
    <div class="container">
        {{> "hero"}}
    </div>
    <div class="container">
        {{#if @custom.latest_post}}
        <div class="segment">
            {{#get "posts" limit="6" include="tags" as |recents|}}
            {{#if recents}}
            <h2 class="home-heading">
                <div>
                    <div class="title">
                        {{@custom.latest_post_title}}
                    </div>
                </div>
                <a class="button" href="/blog">{{t "View all"}}</a>
            </h2>
            <div class="post-preview">
            {{!-- {{#foreach posts}} --}}
            {{#foreach recents}}
                {{> "card"}} 
            {{/foreach}}
            {{!-- {{/foreach}} --}}
            </div>
            {{/if}}
            {{/get}}
        </div>
        {{/if}}
        {{#if @custom.featured_post}}
        <div class="segment">
            <h2 class="home-heading">
                <div>
                    <div class="title">
                        {{@custom.featured_post_title}}
                    </div>
                </div>
            </h2>
            <div class="highlight-preview">
                {{> loop}}
            </div>
        </div>
        {{/if}}
        {{#if @custom.projects}}
        <div class="segment">
            {{> projects}}
        </div>
        {{/if}}
    </div>
</div>