{{!< default}} 
<div class="container">
    <div class="grid">
        <div class="article-content">

            {{#post}}
            <div class="hero">
                <h1 class="gh-title">{{title}}</h1>
            </div>
            <section class="segment small">
                <div class="post-content">
                    {{#if custom_excerpt}}
                    <p class="gh-excerpt">{{custom_excerpt}}</p>
                    {{/if}}

                    {{content}}
                </div>
            </section>
        </div>
    </div>
</div>
    {{/post}}