{{#if tags}}
    <div class="tags">
        {{#foreach tags}}<a
                class="tag"
                href="{{url}}"
                title="{{name}}"
            >{{name}}</a>{{/foreach}}
    </div>
{{/if}}